# build directorys
/build.*/
/.fakeroot.*

# automatically downloaded source files
/sources/
/.stamps/

# prebuild target binarys to provide
/target/

# mkpkg temp
mkpkg-temp

# private working directory
/.work/

# dedicated filesystem
/lost+found/

# symlinks...
/sources
/.work

# ccache
/.ccache/

# backup files
*.orig

# crap
.DS_Store
.directory

# Files from Visual Studio
/.vs/
/.Yundoo-Y8/

#ignore .gitignore as well
.gitignore


!/build.*/linux-*/arch/arm64/boot/dts/rockchip/rk3399-yundoo-y8.dts
!/build.*/linux-*/arch/arm64/boot/dts/rockchip/Makefile